/* font */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1050px;
}


/* banner */

header {
    background: #2D25A0;
    width: 1346px;
    height: 677px;
}

.banner-all-img {
    margin-right: 0;
}

.banner-info {
    width: 50%;
}

.banner {
    display: flex;
}

.banner-title {
    width: 485px;
    margin-top: 207px;
    margin-left: 156px;
    margin-right: 102px;
}

.banner-title h1 {
    font-weight: 700;
    font-size: 64px;
    color: #ffffff;
    margin-bottom: 10px;
}


/* button start */

.button {
    display: flex;
    margin-left: 156px;
    margin-top: 0;
}

.btn-title a {
    text-decoration: none;
}

.button .btn-title a p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 24px;
    background: #E02C6D;
}

.fa-arrow-right {
    color: #ffffff;
    font-size: 16px;
    padding-left: 8px;
}


/* Button */


/* banner image */

.banner-all-img {
    display: flex;
}

.banner-img {
    padding-top: 135px;
    margin-right: 140px;
}

.ball {
    margin-top: 212px;
    padding-left: 20px;
}

.ball:hover {
    transform: scale(2) rotate(360deg);
    transition: transform 3s ease-in-out;
}

.btn-title a p:hover {
    background-color: rgb(238, 147, 10);
    transition: .3s ease-in-out;
}


/* players  */

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}

.player {
    width: 330px;
    height: 474px;
    margin-top: 70px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.player-img img {
    width: 100%;
}


/* ranking part */

.rankigs {
    display: flex;
    margin-top: 20px;
}

.man-ranking-title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.ranking-heading {
    padding-right: 50px;
}

.man-rankings {
    margin-right: 50px;
}

.man-ranking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}

.country-flag p {
    margin-top: 0px;
}